{
  "LocalDirectoryName": "Atari",
  "LoggingLevel": "Info",

  "SerialSettings": {
    "PortName": "COM1",
    "BaudRate": 9600,
    "DataBits": 8,
    "StopBits": "One",
    "Parity": "None",
    "Handshake": "None"
  },
  
  "DiskSettings": {
    "DiskSizeMiB": 32,
    "DiskPartitionType": "GEM",
    "DiskTOSCompatibility": "TOS104",
    "RootDirectorySectors": 8
  }
} 